@model ContactViewModel

@{
    ViewData["Title"] = "Contact";
}


<section class="contact">
    <div class="container">

            <div class="content">
                <p class="breadcrumb"><i class="fa-regular fa-home"></i> Home <img class="home-arrows" src="~/images/icons/double-arrows.svg" /><a asp-action="Contact" asp-controller="Default">Contact</a></p>
                <h1>Contact Us</h1>
                <div class="contact-box">
                    <img class="email-image" src="~/images/icons/mail-icon.svg" />
                    <div class="contact-text">
                        <h4>Email Us</h4>
                        <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                        <a asp-action="Error" asp-controller="Default">
                            Leave a message 
                            <i class="fa-regular fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
               <div class="contact-box">
                    <img class="careers-image" src="~/images/icons/careers-icon.svg" />
                    <div class="contact-text">
                        <h4>Careers</h4>
                        <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                        <a asp-action="Error" asp-controller="Default">
                            Send an application 
                            <i class="fa-regular fa-arrow-right"></i>
                        </a>
                    </div>
               </div>
            </div>
            <div class="contact-form">
                <form method="post" asp-controller="Default" asp-action="Contact">
                    <h2>Get In Contact With Us</h2>

                    <div class="form-content">
                        <div class="input-fullname input-group">
                            <label class="input-label" asp-for="FullName"></label>
                            <input asp-for="FullName" />
                            <span asp-validation-for="FullName"></span>
                        </div>

                        <div class="input-email input-group">
                            <label class="input-label" asp-for="Email"></label>
                            <input asp-for="Email" />
                            <span asp-validation-for="Email"></span>
                        </div>

                        <div class="input-service input-group">
                            <label class="input-label" asp-for="Service"></label>
                            <select asp-for="Service" asp-items="Html.GetEnumSelectList<ServiceOptions>()">
                                <option class="option-placeholder" value="">Choose the service you are interested in</option>
                            </select>
                            <span asp-validation-for="Service"></span>
                        </div>

                        <div class="input-message input-group">
                            <label class="input-label" asp-for="Message"></label>
                            <input asp-for="Message" />
                            <span asp-validation-for="Message"></span>
                        </div>

                        <button class="btn-theme" type="submit">Send Contact Request</button>
                    </div>
                </form>
            </div>
           
        

       

    </div>
    <img class="map" src="~/images/map/streetmap.svg" />
</section>