<section class="download">
    <div class="container">
        <img class="iphone" src="~/images/apps/iphone.svg" />
        <div class="content">
            <h2>Download Our App for Any Devices:</h2>
            <div class="text-box">
                <p>App Store</p>
                <img class="app-image" src="~/images/icons/stars.svg" />
                <h5>Editor's Choice</h5>
                <p>rating 4.7, 187k+ reviews</p>
            </div>
            <div class="text-box">
                <p>Google Play</p>
                <img class="app-image" src="~/images/icons/stars.svg" />
                <h5>App of the Day</h5>
                <p>rating 4.8, 30k+ reviews</p>
            </div>
        </div>
        <div class="app-download">
            <img class="app-button" src="~/images/apps/appstore.svg" />
            <img class="app-button" src="~/images/apps/googleplay.svg" />
        </div>
    </div>
</section>