<section class="download">
    <div class="container">
        <img class="iphone" src="~/images/apps/iphone.svg" />
        <div class="content">
            <h2>Download Our App for Any Devices:</h2>
        </div>
    </div>
</section>