<footer>
    <div class="container">
        <div class="social-media">
            <a class="btn-socialmediafb" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a class="btn-socialmediatw" href="#"><i class="fa-brands fa-twitter"></i></a>
            <a class="btn-socialmediaig" href="#"><i class="fa-brands fa-instagram"></i></a>
            <a class="btn-socialmediayt" href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <p>
            &copy; @DateTime.Now.Year Silicon by Createx Studio. All rights reserved.<span></span>
        </p>
    </div>
</footer>