<section class="integrate">
    <div class="container">
        <div class="section-title">
            <h1>Integrate Top Work Tools</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>
        <div class="integrate-tools">
            <div class="integrate-box">
                <img class="box-icons" src="~/images/icons/google.svg"/>
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="integrate-box">
                <img class="box-icons" src="~/images/icons/zoom.svg" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="integrate-box">
                <img class="box-icons" src="~/images/icons/slack.svg" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="integrate-box">
                <img class="box-icons" src="~/images/icons/gmail.svg" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="integrate-box">
                <img class="box-icons" src="~/images/icons/trello.svg" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="integrate-box">
                <img class="box-icons" src="~/images/icons/mailchimp.svg" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="integrate-box">
                <img class="box-icons" src="~/images/icons/dropbox.svg" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="integrate-box">
                <img class="box-icons" src="~/images/icons/evernote.svg" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
        </div>
    </div>
</section>