<section class="manage">
    <img class="manage-image" src="~/images/taskmaster/taskmaster-straight.svg" alt="" />
    <div class="container">
        <div class="content">
            <h2>Manage Your Work</h2>
            <span class="list">
                <p><img class="check-icon" src="~/images/icons/check_circle.svg" alt="" />Powerful project management</p>
                <p><img class="check-icon" src="~/images/icons/check_circle.svg" alt="" />Transparent work management</p>
                <p><img class="check-icon" src="~/images/icons/check_circle.svg" alt="" />Manage work & focus on the most important tasks</p>
                <p><img class="check-icon" src="~/images/icons/check_circle.svg" alt="" />Track your progress with interactive charts</p>
                <p><img class="check-icon" src="~/images/icons/check_circle.svg" alt="" />Easiest way to track time spent on tasks</p>
            </span>
            <a class="btn-theme" asp-action="Home" asp-controller="Default">Learn More<i class="fa-regular fa-arrow-right"></i></a>
        </div>
    </div>
</section>