<section class="mode">
    <div class="container">
        <div class="mode-title">
            <h1 class="light-text">Switch Between  </h1>
            <h1 class="dark-text">Light & Dark Mode</h1>
        </div>
        <img class="mode-image" src="~/images/mode/mode_switch.svg" alt="" />
    </div>
</section>