<section class="newsletter-signup">
    <div class="container">
        <div class="section-title">
            <h1>Don't Want to Miss Anything?</h1>
            <img class="down-arrow" src="~/images/icons/arrows.svg" />
        </div>
        <div class="content">
            <div class="sub">
                <h5>Sign up for Newsletters</h5>
            </div>
            <div class="checkboxes">
                <input type="checkbox" value="option1"/>
                <label>Daily Newsletter</label>
            </div>
            <div class="checkboxes">
                <input type="checkbox" value="option1" />
                <label>Event Updates</label>
            </div>
            <div class="checkboxes">
                <input type="checkbox" value="option1" />
                <label>Advertising Updates</label>
            </div>
            <div class="checkboxes">
                <input type="checkbox" value="option1" />
                <label>Startups Weekly</label>
            </div>
            <div class="checkboxes">
                <input type="checkbox" value="option1" />
                <label>Week in Review</label>
            </div>
            <div class="checkboxes">
                <input type="checkbox" value="option1" />
                <label>Podcasts</label>
            </div>
            
        </div>
        <div class="subscribe">
            <input type="email" placeholder="Your Email" />
            <button class="btn-theme">Subscribe*</button>
        </div>
        <p>*Yes I agree to the terms and privacy policy.</p>
    </div>
</section>