<section class="tools">
    <div class="container">
        <div class="section-title">
            <h1>Manage your life</h1>
            <p> Make sure all your tasks are organized</p>
        </div>
        <div class="tool-features">
            <div class="feature-box">
                <img class="box-icons" src="~/images/icons/icon_1.svg" />
                <h5>Comments on tasks</h5>
                <p></p>
            </div>
            <div class="feature-box">
                <img class="box-icons" src="~/images/icons/icon_2.svg" />
                <h5>Tasks analytics</h5>
                <p></p>
            </div>
            <div class="feature-box">
                <img class="box-icons" src="~/images/icons/icon_3.svg" />
                <h5>Multiple Assignees</h5>
                <p></p>
            </div>
            <div class="feature-box">
                <img class="box-icons" src="~/images/icons/icon_4.svg" />
                <h5>Notifications</h5>
                <p></p>
            </div>
            <div class="feature-box">
                <img class="box-icons" src="~/images/icons/icon_5.svg" />
                <h5>Sections & Subtasks</h5>
                <p></p>
            </div>
            <div class="feature-box">
                <img class="box-icons" src="~/images/icons/icon_6.svg" />
                <h5>Data Security</h5>
                <p></p>
            </div>
        </div>
    </div>


</section>