﻿
@model AccountDetailsViewModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Details";
}

<section class="account-details">
    <div class="container">

        <form class="basic-info" method="post" asp-controller="Account" asp-action="UpdateBasicInfo">
            <div class="basic-form">
                <div class="input-firstname input-group">
                    <label asp-for="BasicInfo.FirstName"></label>
                    <input asp-for="BasicInfo.FirstName" />
                    <span asp-validation-for="BasicInfo.FirstName"></span>
                </div>
                <div class="input-lastname input-group">
                    <label asp-for="BasicInfo.LastName"></label>
                    <input asp-for="BasicInfo.LastName" />
                    <span asp-validation-for="BasicInfo.LastName"></span>
                </div>
                <div class="input-email input-group">
                    <label asp-for="BasicInfo.Email"></label>
                    <input asp-for="BasicInfo.Email" disabled />
                    <span asp-validation-for="BasicInfo.Email"></span>
                </div>
                <div class="input-number input-group">
                    <label asp-for="BasicInfo.PhoneNumber"></label>
                    <input asp-for="BasicInfo.PhoneNumber" />
                    <span asp-validation-for="BasicInfo.PhoneNumber"></span>
                </div>
                <div class="input-bio input-group">
                    <label asp-for="BasicInfo.Biography"></label>
                    <textarea asp-for="BasicInfo.Biography"></textarea>
                    <span asp-validation-for="BasicInfo.Biography"></span>
                </div>
                <div>
                    <button type="reset" class="btn-theme-secondary btn-small">Cancel</button>
                    <button type="submit" class="btn-theme btn-small">Save changes</button>
                </div>
            </div>
            </form>
        
       
        <hr class="separator" />
        
            <form class="address-info" method="post" asp-controller="Account" asp-action="UpdateAddressInfo">
            <div class="address-form">
                <div class="input-address-one input-group">
                    <label asp-for="AddressInfo.AddressLine_1"></label>
                    <input asp-for="AddressInfo.AddressLine_1" />
                    <span asp-validation-for="AddressInfo.AddressLine_1"></span>
                </div>
                <div class="input-address-two input-group">
                    <label asp-for="AddressInfo.AddressLine_2"></label>
                    <input asp-for="AddressInfo.AddressLine_2" />
                    <span asp-validation-for="AddressInfo.AddressLine_2"></span>
                </div>
                <div class="input-postalcode input-group">
                    <label asp-for="AddressInfo.PostalCode"></label>
                    <input asp-for="AddressInfo.PostalCode" />
                    <span asp-validation-for="AddressInfo.PostalCode"></span>
                </div>
                <div class="input-city input-group">
                    <label asp-for="AddressInfo.City"></label>
                    <input asp-for="AddressInfo.City" />
                    <span asp-validation-for="AddressInfo.City"></span>
                </div>
                <div>
                    <button type="reset" class="btn-theme-secondary btn-small">Cancel</button>
                    <button type="submit" class="btn-theme btn-small">Save changes</button>
                </div>
            </div>
            </form>
        </div>
        
    
</section>
 