.account {
    height: 100%;
    padding: 2rem 0;

    .container {
        height: 100%;
        display: grid;
        grid-template-columns: 350px 1fr;


        aside {
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-right: 2rem;
            border-right: 1px solid var(--color-gray-400);

            .account-nav {
                margin-top: 2rem;

                .btn-theme {
                    margin-bottom: 10px;
                    font-size: 16px;
                    width: 100%;
                    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.1);
                }

                .btn-theme-secondary {
                    background-color: var(--color-white);
                    border: none;

                    &:hover {
                        background-color: var(--color-gray-400);
                    }
                }
            }
        }

        main {
            padding: 1rem 2rem;
        }
    }


    .btn {
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--color-gray-800);
        outline: none;
        border-radius: 8px;
        padding: 12px 25px;
        transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        i {
            margin-right: 1rem;
        }

        &:hover {
            border: 1px solid var(--color-gray-800);
            background-color: var(--color-gray-800);
            color: var(--color-gray-100);
            text-decoration: none;
        }
    }

    .btn-nav {
        padding: 8px 0;
        font-size: 16px;

        &.active {
            border: 1px solid var(--color-theme);
            background-color: var(--color-theme);
            color: var(--color-white);
        }

        &:hover {
            border: 1px solid var(--color-gray-800);
            background-color: var(--color-gray-800);
            color: var(--color-gray-100);
            text-decoration: none;
        }
    }
}
