.contact {
    background-color: var(--color-gray-100);
    
   img {
       
   }
   
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'text form';
        padding-top: 40px;
        padding-bottom: 40px;
        position: relative;



        .contact-form {
            grid-area: form;
            background-color: var(--color-white);
            border-radius: 4px;
            padding: 60px;
            @include shadow-theme;
            @include shadow-secondary;
            //margin-right: 20%;
            position: absolute;

            form {
                width: 400px;

                .input-message {
                    padding-bottom: 30px;

                    input {
                        height: 150px;
                    }

                }
            }
        }

        .content {
            grid-area: text;

            .contact-box {
                display: grid;
                grid-template-columns: auto auto;
                padding-top: 30px;
                margin-right: 15%;

                p {
                    padding-left: 10px;
                    padding-top: 10px;
                    color: var(--color-gray-700);
                }

                h4 {
                    padding-left: 10px;
                }

                a {
                    padding-left: 10px;
                    padding-top: 30px;
                }
            }


            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            .breadcrumb {
                color: var(--color-gray-600);
                display: flex;
                padding: 10px;
                gap: 10px;
            }

            
        }
    }
}
