.error {
    .container {
        padding-top: 120px;
        .error-msg {
            display: flex;
            justify-content: center;
        }

        .error-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 40px;
            gap: 20px;

            h2 {
                color: var(--color-gray-900);
            }

            p {
                color: var(--color-gray-700);
            }
        }

        .home-btn {
            display: flex;
            justify-content: center;
        }
    }
}
