header {
    padding: 15px 0;

    .container {
        display: grid;
        align-items: center;
        gap: 40px;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo mobile";

        @include lg {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo nav sw account";
        }


        .logo {
            grid-area: logo;
        }

        nav {
            grid-area: nav;
            display: none;
            gap: 20px;

            a {
                text-decoration: none;
                font-weight: 600;
                color: var(--color-gray-800);

                &:active,
                &.active,
                &:hover {
                    color: var(--color-theme);
                    text-decoration: underline;
                }
            }

            @include lg {
                display: flex;
            }
        }

        .btn-switch {
            grid-area: sw;
        }

        .account-buttons {
            grid-area: account;
            display: none;
            gap: 20px;


            .profile {
                display: flex;
                justify-content: center;

                .image {
                    position: relative;

                    img {
                        border-radius: 50%;
                        height: 60px;
                        width: 60px;
                        object-fit: cover;
                        border: 1px solid var(--color-gray-400);
                    }

                    form {
                        position: relative;

                        label {
                            position: absolute;
                            bottom: 10px;
                            right: 0;
                        }
                    }
                }
            }

            @include lg {
                display: flex;
            }
        }

        .btn-mobile {
            grid-area: mobile;
            display: block;

            @include lg {
                display: none;
            }
        }
    }
}
