.newsletter-signup {
    background-color: var(--color-gray-100);
    padding: 50px 0;

    .container {

        .section-title {
            display: flex;
            justify-content: center;
            padding: 10px;

            .down-arrow {
                margin-left: 20px;
            }
        }

        .content {
            margin-top: 40px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "sign boxes";

            @include xl {
                grid-template-columns: repeat(3, 1fr);
            }

            .sub {
                grid-area: sign;
                display: flex;
                align-items: center;
            }

            p {
                color: var(--color-gray-600);
            }

            label {
                color: var(--color-gray-700);
            }




            .checkboxes {

            }
        }
    }
}
