*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-manrope);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--color-white);
    color: var(--color-gray-900);
}

a {
    font-family: var(--font-manrope);
    color: var(--color-theme);
    font-size: 1em;
    display: inline-block;

    &:active,
    &:visited,
    &:focus,
    &:hover {
        color: var(--color-theme);
    }

    &:hover {
        text-decoration: none;
    }
}

.nav-link {
    @include font-semibold;
    color: var(--color-gray-900) !important;
    text-decoration: none;
    font-size: 1em;
    display: inline-block;

    &:active,
    &.active,
    &:hover {
        color: var(--color-theme) !important;
        text-decoration: underline;
    }
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
    color: var(--color-theme);
    &:hover {
        text-decoration: none;
    }
}


